cache/
commons/target/
core/src/main/resources/sql-queries/core/publication-assignment-sorted-for-master.sql
core/target/
demo-sparql-queries/target/
log/
rdf/target/
solr/target/
target/
test-diff-rdf-db/target/
user/target/
velocity.log
web/cache/
web/log/
web/target/
repository
np.db.data.properties
np.db.rdf.properties
np.db.user.properties
application.properties
.classpath
.project
nohup.out
velocity.log.*
*.swp
npapi.log
AnnotationMVCTest.out.xml
MANIFEST.MF
